body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000080;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    border: 2px solid #000080;
    border-radius: 5px;
    justify-content: center;
}

.buttons {
    display: grid;
    color: #0000ff;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 25%;
    color: #ffffff;
    background-color: #000080;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #87CEFA;
}

#clear, #equals {
    grid-column: span 1;
}
